body{
    background-color: #3e3b4a;
    font-family: 'OpenSans-Bold', 'Times-Roman', 'AdobeInvisFont', 'MyriadPro-Regular';
}

.clear {
    clear: both;
}

.container{
    width: 1020px;
    margin:0 auto;
    align-items:center;
    
}

/* header */
header .container{
    height: 204px;   
    background-color: red;
    
}

.menu-i{
    
    padding: 91px 0px 0px 0px;
    margin: 0;
    float: left; /* Выравнивание лого по левому краю, 
    все остальные элементы обтекают его справа */
}

.menu-text{
    
    padding: 94px 0px 0px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #85828d;
    float: left;
}

.head-logo{
      
    
    
    
    
}
.DMT{
    
    text-decoration: none;
    color: #ffffff;
    float: left;
    font-size: 48px;
    
    
    
}

.d-m-t{
    
    float: left;
    text-decoration: none;
    color: #85828d;
}

.search-text{
    
    padding: 94px 0px 0px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #85828d;
    float: left;
}

.searsh-i{
    
    padding: 89px 0px 0px 0px;
    margin: 0;
    float: right; /* Выравнивание лого по левому краю, 
    все остальные элементы обтекают его справа */
}




.slider .container{
    background: url(./img/square1-bg.jpg) no-repeat center center;
    height: 512px;

}




menu{
    margin:0;
    padding:0;
}

menu ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.menu-1{
    background: url(./img/square2-bg.png) no-repeat top right;
    height: 484px;
    width: 622px;
    float: left;
    background-color: #70b7c3;
    margin: 20px 20px 0px 0px;
}

.menu-2{
    background: #eb7b61 no-repeat center center;
    height: 484px;
    width: 378px;
    float: left;
    margin: 20px 0px 0px 0px;
}

.menu-3{
    background: url(./img/square4-bg.jpg) no-repeat center center;
    height: 420px;
    width: 260px;
    float: left;
    margin: 20px 20px 0px 0px;
    
    
}

.menu-4{
    background: url(./img/square5-bg.jpg) no-repeat center center;
    height: 420px;
    width: 260px;
    float: left;
    margin: 20px 20px 0px 0px;
}

.menu-5{
    background: url(./img/square6-bg.png) no-repeat bottom right;
    background-color: #1ab467;
    height: 420px;
    width: 460px;
    float: left;
    margin: 20px 0px 0px 0px;
}



/* footer */

footer .container{
    height: 139px;   
    background-color: red;
}